:root {
  --dark-color: #222831;
  --light-color: whitesmoke;
  --accent-color: darkkhaki;
}

body {
  font-family: "Work Sans", sans-serif;
}

header {
  background-image: linear-gradient(
      rgba(34, 40, 49, 0.6),
      rgba(34, 40, 49, 0.2)
    ),
    url(../images/image03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--light-color);
  text-align: center;
  padding: 150px;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: var(--accent-color);
  margin-top: 5px;
  margin-bottom: 5px;
}

header h2 {
  font-weight: 300;
  margin-bottom: 80px;
}

header h3 {
  font-weight: 300;
}

header a {
  text-decoration: none;
  color: var(--dark-color);
  background-color: var(--light-color);
  padding: 10px 15px;
  border-radius: 10px;
}

ul {
  list-style: none;
  margin-left: -40px;
}

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 20px 80px;
}

footer a {
  text-decoration: none;
  color: var(--light-color);
}

footer a:hover {
  text-decoration: underline;
}

.container {
  max-width: 100%;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
