header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url(../images/image03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  text-align: center;
  padding: 100px;
}

header h1 {
  font-size: 72px;
}

.container {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}
